# =========================
# Entorno virtual
# =========================
venv/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# =========================
# Django
# =========================
*.sqlite3
media/
staticfiles/

# =========================
# Variables de entorno
# =========================
.env

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db